*{
	outline: 1px solid rgba(255,0,0,0.3);
	margin: 0;
	padding: 0;
}
body h1,h2,h3,h4,h5{
	font-family: 'Fredoka One', cursive;
}
p,li,a, small{
	font-family: 'Comfortaa', cursive;
}
/*---------------Header------------*/
header{
	background: url(../image/large.jpg) no-repeat;
    background-size: cover;
    color: white;
}
.fondo {
	background-color: rgba(17, 17, 17, 0.6);
}
header .row{
	margin-top: 20px;
}

header a{
	color: white;
	display: block;
	padding: 12px 12px;
	transition: all 0.3s;
}
header a:hover, a:focus{
	text-decoration: none;
	outline: none;
	background: white;
}
.menu-mobile li{
	list-style: none;
	margin-left: -80%;
}
/*header img{
	height: 15px;
}

header nav li{
	margin-left: 20px;
}
header nav li a{
	color: white;
}
header .frase{
	width: 100%;
	display: table;
}
.frase{
	margin: 120px 0;
}
.header-banner{
	background-color:rgba(17, 158, 201, 0.64);
	margin: 0 auto;
	line-height: 50px;
}
.header-banner button{
	border:1px solid white;
	margin: 40px 0;
}
.servicios h2{
	color: lightblue;
	margin-top: 50px;
	margin-bottom: 50px;
}
.servicios h3{
	color: rgba(63, 127, 191, 0.96);
}
.icon-container{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	box-shadow: -2px 2px 10px rgba(2, 18, 23, 0.76);
	border-radius: 200px;
	color: skyblue;
}
.flecha1{
	margin-left:50% ;
}
h6{
	color:rgba(17, 158, 201, 0.64);
}
.list-icons li i{
	width: 200px;
	height:200px;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	border-radius: 200px;
	color: skyblue;
}
footer .banner{
	background-color:rgba(17, 158, 201, 0.64); 
}

footer h3{
	color: white;
}
footer .col-sm-9 p{
	color: white;
}
footer button{
	margin-top: 30px;
}
footer p{
	color: rgba(1, 5, 8, 0.86);
}
/*Contact*/
.contact-fondo{
	background-image: url(../image/large.jpg);
	background-size: cover;
	height: 600px
}
header .frase{
	height: 417px;
	width: 100%;
	display: table;
}
.frase
{
	display: table-cell;
	vertical-align: middle;
	line-height: 50px;
}
.contact-fondo{
	border-bottom: 3px solid black;
}
.formulario-contacto{
	outline: 1px solid rgba(0,255,0,0.3);
	border-top: 3px solid blue;	
}
form .enviar{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	line-height: 600px;
	font-size: 16px;
	color: white;
}*/

